.p-container {
    margin: 10px 30px;
}
.p-container-product {

}
.p-container-name {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-left: 10px;

}
.p-container-bt {
    margin: 0 10px;
}
.p-container-create-new {
    display: flex;
    justify-content: center;
}
.p-container-create-new-bt {
    width: 55px;
    border: none;
}
.p-container-new {
    margin-right: 10px;
}
.container-main {
    justify-content: space-around
}
.container-form {
    max-width: 520px;
}
.container-form-input {
    width: 250%;
}
.img-form {
    width: 200px;
    height: 250px;
    border: 0.05px solid rgba(51, 51, 51, 0.226);
    margin-left: 15px;
}