body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  /* background-color: #f0c040;
  color: #000000; */
  background-color: rgba(255, 0, 0, 0.849);
}
.title-product {
  color: black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
  height: 530px;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid rgb(0, 140, 255);
  /* color: #f08000; */
  color: orange
}
.checkout-steps-div {
  margin: 10px 30px
}
.shipping-main{
  margin: 25px 50px;
  /* justify-content: center */
}
.ship-title {
  display: flex;
  justify-content: center;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 80%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
  z-index: 1;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  /* height: 100vh; */
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
.menu-bar {
  display: flex;
  /* background-color: rgb(255, 231, 235); */
  padding: 15px 0
}
.cart-empty {
  background-color: pink;
  padding: 40px 50px;
  margin: 25px;
  border-radius: 14px;
}
.header {
  background-color: var(--bs-body-color);
  position: relative;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-nav-user {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.ship-button {
  /* margin-top: 10px;
  display: flex; */
}
.ship-button-link{
  color: whitesmoke;
}
.PlaceOrderScreen {
  margin-left: 4%;
    margin-top: 30px;
    margin-right: 4%;
} 
.place--order--button {
  background-color: whitesmoke;
  color: #333333;
  padding: 5px;
  border: 1px solid;
  border-radius: 7px;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 700;
}
.menu-bar {
  justify-content: center;
}
.img-footer {
  width: 180px
}
.header-nav-icon {
  color: white;
  margin-top: 7px;
  cursor: pointer;
}
.header-nav-button-home {
  color: white;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 5px;
}
.search-img-product {
  width:80px
}
.search-name-product {
  margin-left:10px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.search-link {
  padding: 10px;
  display:flex;
  border: 0.05px solid #3333331f;
}
.icon-price {
  font-size: 0.89rem;
  font-weight: 700;
  margin-right: 0.125rem;
}
.rating-number-vie {
  font-weight: 700;
  color: rgba(253, 65, 65, 0.788);
  margin-left: 10px;
}

/* Feature message */
.contaner-message {
  border: 0.05px solid rgb(199, 197, 197);
  background-color: white;
  max-width: 400px;
  width: 400px;
  max-height: 450px;
  height: 450px;
  position: fixed;
  box-shadow: 0 2px 10px 10px #ccc;
  left: 850px;
  bottom: 60px;
  display: block;
}
.contaner-message-close {
  display: none
}
.contaner-message--chat {
  position: relative;
}
.contaner-message--button {
  position: fixed;
  bottom: 60px;
  right: 20px;
  border: 0px;
  box-shadow: 0 2px 5px 5px #ccc;
  padding: 6px 12px;
}
.chat-box {
  display: flex;
  flex-direction: column;
}
.chat-box-top {
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}
.contaner-message-send {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
}
.contaner-message-input {
  width: 350px;
  height: 40px;
  border: 0.5px solid rgba(51, 51, 51, 0.425);
  border-radius: 4px;
}
.contaner-message-button {
  width: 50px;
  border: 0.5px solid blue;
  background: blue;
  border-radius: 4px;
}
.container-message-icon {
  color: whitesmoke;
}
.contaner-message-name {
  width:190px;
  padding-left: 20px;
  margin-left: auto;
  font-size: 0.75rem;
  background-color: rgba(158, 158, 158, 0.336);
  border-radius: 7px;
}
.contaner-message-text {
  width:100%;
  margin-left: auto;
}
.contaner-message-overview {
  background-color: rgba(11, 11, 253, 0.74);
  color:white;
  border-radius: 7px;
  margin-left: 10px;
  padding-left: 10px;
}
.contaner-message-enemy {
  width:190px;
  /* padding-left: 20px;
  margin-left: auto; */
  font-size: 0.75rem;
  background-color: rgba(158, 158, 158, 0.336);
  border-radius: 7px;
  padding-left: 10px;
}
.contaner-message-text-enemy {
  width:100%;
  margin-left: auto;
}
.contaner-message-overview-enemy {
  background-color: #e4e6eb;
  color:#333;
  border-radius: 7px;
  padding-left: 10px;
}
.Topcss-img {
  width: 350px;
  height: 390px
}
.Topcss-container {
  margin: 10px 25px;
  box-shadow :0 5px 10px 10px #ccc;
}
.Topcss-card {
  position: relative;
  height: 400px;
}
.Topcss-name {
  text-decoration: none;
  font-size: x-large;
  color: black;
  margin-bottom: 21px;
}
.Topcss-name-p {
  font-weight: 500;
  padding-left: 20px;
}
.Topcss-price {
  position: absolute;
  bottom: 11px;
  right: 30px;
  background: rgba(230, 230, 250, 0.534);
}
.Topcss-span {
  color: orange;
  font-weight: 700;
}
.div-top {
  margin-top: 50px;
}
.div-top-h2 {
  left: 100px;
  /* position: absolute; */
  top: -65px;
  width: 400px;
  background: red;
  color: white;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 100px;
  box-shadow: 0 6px 10px 9px rgb(180, 180, 180);
}
.order-success {
  background-color: rgba(60, 250, 60, 0.788)
}
.order-notyet {
  background-color: rgba(253, 34, 34, 0.733)
}
.numberPage {
  padding: 7px 15px;
    background: darkgray;
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 0 3px;
}
.css-discount {
  position: relative;
}
.css-percentDiscount {
    position: absolute;
    background-color: rgb(226, 223, 57);
    padding: 3px 5px;
    top: 0;
    right: 0;
}
.css-percentDiscount-text {
  color: white;
  padding-right: 5px;
}
.css-percentDiscount-percent {
  color: red
}
.price-original {
  display: flex;
}
.price-priceDiscount {
  display: flex;
}
.price-old {
  display: flex;
  text-decoration: line-through;
  margin-right: 20px;
}
.price-new {
  display: flex;
  font-size: larger;
  font-weight: bold;
}
.background-price {
  background-color:#fafafa
}