.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .input-search {
    margin-left: 30px;
  }
.selectCategory {
  display: flex;
  justify-content: right;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-link {
  color: antiquewhite;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.close-nav {
  background-color:antiquewhite;
  padding: 5px;
  /* transition: color .15s ease-in-out;
  background-color: .15s ease-in-out;
  border-color: .15s ease-in-out; */
}
.dropdown-search {
  position: absolute;
  background-color: rgb(245, 222, 179);
  margin-top: 41px;
  z-index:99
}
.dashborad-admin {}
.dashborad-admin-m {
  display: flex;
  justify-content: center;
  border-top: 0.005px solid rgba(51, 51, 51, 0.158);
  margin-top: 50px;
  /* background-color: whitesmoke */
}
.dashborad-admin-l {
  text-decoration: none;
  color:#333;
  cursor: pointer; 
  background-color: rgba(228, 227, 227, 0.719);
  padding: 5px 10px;
}