.login-img {
    display: flex;
}
.login-small-container {

}
.container-login {
    display: flex;
    margin: 10px 50px;
}
.login-item-img {
    width: 60%;
}
.fa-shopping-cart {
    color: rgba(245, 245, 245, 0.815)
}
.HOButton {
    background-color: rgb(179, 178, 178)
}
.admin-login {
    margin-left: 50px;
    margin-top: 100px;
}
.admin-title-login {

}
.admin-bt-login {
    margin-left: 50px;
    color:rgba(255, 0, 0, 0.596)
}
.admin-link-login {
    color: antiquewhite;
    text-decoration: none;
}